Repository ArkEcosystem/java-client, pull requests merged in 2019-09, with the labels that each got.

#47 feat: crypto endpoint
  build.gradle
  src/main/java/org/arkecosystem/client/api/Node.java
  src/test/java/org/arkecosystem/client/api/NodeTest.java
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Feature

#50 feat: add missing api endpoints
  src/main/java/org/arkecosystem/client/api/Api.java
  src/main/java/org/arkecosystem/client/api/Node.java
  src/main/java/org/arkecosystem/client/api/Rounds.java
  src/main/java/org/arkecosystem/client/api/Transactions.java
  src/main/java/org/arkecosystem/client/http/Client.java
  src/test/java/org/arkecosystem/client/api/NodeTest.java
  src/test/java/org/arkecosystem/client/api/RoundsTest.java
  src/test/java/org/arkecosystem/client/api/TransactionsTest.java
Labels: Complexity: Low, Status: Contributor Approved, Type: Feature

#53 ci: adjust job triggers
  .github/workflows/test.yml
Labels: Complexity: Low

#54 ci: report coverage to codecov
  .github/workflows/test.yml
Labels: Complexity: Low
